@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary-800: hsl(var(--primary-800));
  --color-primary-800-foreground: hsl(var(--primary-800-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-gray: hsl(var(--gray));
  --color-dark-gray: hsl(var(--dark-gray));
  --color-lighter-gray: hsl(var(--lighter-gray));
  --color-light-gray: hsl(var(--light-gray));
  --color-ivory: hsl(var(--ivory));
  --color-main-purple: hsl(var(--main-purple));
  --color-dark-purple: hsl(var(--dark-purple));
  --color-main-green: hsl(var(--main-green));
  --color-dark-green: hsl(var(--dark-green));
  --color-lime-green: hsl(var(--lime-green));
  --color-light-green: hsl(var(--light-green));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-2_5xl: 20px;

  --shadow-raised: 0 var(--shadow-size) 0 0 #000;

  --font-logo: 'Oleo Script', system-ui;
  --font-default: Nunito, system-ui, sans-serif;
  --font-title: NextBookFont, "NEXT Pan Book", system-ui, sans-serif;

  --text-5_5xl: 3.375rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 94.12%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* design colors */
    --primary-800: 0 0% 20%;
    --primary-800-foreground: 0 0% 98%;
    --main-purple: 256 100% 81%;
    --dark-purple: 256 41% 30%;
    --main-green: 95 69% 94%;
    --dark-green: 130 71% 11%;
    --lime-green: 103 100% 85%;
    --light-green: 107 100% 71%;
    --gray: 0 0% 68%;
    --dark-gray: 0 0% 39%;
    --light-gray: 0 0% 94.12%;
    --lighter-gray: 150 9% 96%;
    --ivory: 0 0% 98%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.raised-button {
  --shadow-size: 4px;
  @apply transition-all shadow-raised -translate-y-1 active:-translate-y-1;

  &:hover {
    --shadow-size: 8px;
    @apply -translate-y-2;
  }
}

.prose pre {
  @apply whitespace-pre-wrap;
}

.file-tree button[data-state="open"] > .chevron-right {
  @apply rotate-90;
}
